@use "variables" as v;
@use "mixins" as m;



.calendar-container > * {
    box-sizing: border-box;
    font-family: v.$mainFont;
} 

.calendar-container {
    background-color: whitesmoke;
    font-family: v.$mainFont;
    color: v.$grey;
    margin: 0px 8px;
    // position: relative;
    // top: -4vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(75px, auto));
}

h1 {
    text-align: center;
    align-self: end;
    justify-self: center;
    margin: 0;
    font-size: 1.7rem;
    padding-top: 20px;   
}

.date-picker {
  grid-row: 2/3;
  width: 100%;
  max-width: 320px;
  background-color: whitesmoke;
  margin: 30px auto;
  box-shadow: 0px 3px 10px  rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.month {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  font-size: 1.2rem;
}

.arrows {
  padding: 1rem;
}

table {
    margin-top: 15px;
    padding: 0 15px;
    width: 100%;
    height: 25vh;
    font-size: 1rem;
    font-family: v.$mainFont;
    color: black;
    font-weight: bolder;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

th {
  width: 30px;
  height: 50px;
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
    color: grey;
}


.selected-day {
  color: #e01e37;
  font-weight: bold;
  text-decoration: underline;
}
        
.hidden {
  display: none;
}

.past-date {
  color: rgb(203, 203, 203);
}


.display-selected-date {
  place-self:center;
  // border: 1px solid #e01e37;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.2rem;
}

#selected-date {
  padding: 1rem;
  color:#e01e37;
}


// toggle styles from:  https://adrianroselli.com/2019/03/under-engineered-toggles.html

.toggles {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  font-family: v.$mainFont;
}

.toggles [type="checkbox"] {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.toggles [type="checkbox"] + label {
  display: block;
  position: relative;
  padding: 0.5em;
  padding-left: 4em;
}

.toggles [type="checkbox"] + label::before,
.toggles [type="checkbox"] + label::after {
  content: "";
  position: absolute;
  height: 1.1em;
  transition: all 0.25s ease;
}

.toggles [type="checkbox"] + label::before { // the background
  left: 0;
  top: 0.18em;
  width: 2.8em;
  padding: 0.2em;
  border: 0.1em solid rgb(175, 184, 193);
  background: rgb(175, 184, 193);
  border-radius: 1.1em;
}
.toggles [type="checkbox"] + label::after { // the slide button
  left: 0;
  top: 0.25em;
  background-color: #fff;
  background-position: center center;
  border-radius: 50%;
  width: 1.3em;
  border: 0.21em solid #767676;
}
.toggles [type="checkbox"]:checked + label::after {
  left: 1.6em;
  border: 0.25em solid #00b4d8;
  color: #00b4d8;
}

.toggles [type="checkbox"]:focus + label,
.toggles [type="checkbox"]:hover + label {
  color: #00f;
}
.toggles [type="checkbox"]:focus + label::before,
.toggles [type="checkbox"]:hover + label::before {
  box-shadow: 0 0 0.2em #333;
}

.toggles [type="checkbox"]:focus + label::after,
.toggles [type="checkbox"]:hover + label::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

